<link rel="stylesheet" href="/site/assets/css/footer.css">
<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-left">
      <img src="../assets/img/logo.png" alt="logo" class="footer-logo">
    </div>
    <div class="footer-center">
      <span class="separator">|</span>
    </div>
    <div class="footer-right">
      <div class="footer-contact">
        <p>Contacts</p>
      </div>
      <div class="footer-links">
        <a href="https://github.com/Jonathan-p-z" class="footer-link">Jonathan Perez</a>
        <a href="https://github.com/Mirkium" class="footer-link">Alexandre Petitfrere</a>
      </div>
    </div>
  </div>
</footer>