<link rel="stylesheet" href="/site/assets/css/header.css">
<header class="site-header">
    <div class="header-buttons">
        <button class="header-btn type-prix-btn" onclick="location.href='/type-prix'">Type Prix</button>
        <button class="header-btn connexion-btn" onclick="location.href='/login'">Connexion</button>
        <button class="header-btn connect-btn" onclick="location.href='/connect'">Connect</button>
    </div>
</header>