<link rel="stylesheet" href="/assets/css/header.css">

<header class="site-header">
    <img src="/assets/img/Logo.png" alt="">
    <div class="header-buttons">
        <button class="header-btn connect-btn" onclick="location.href='/connect'">Connect</button>
        <button class="header-btn connect-btn" onclick="location.href='/profil'">Profil</button>
    </div>
</header>